.textInput{
    padding: 5px 10px;
    background: rgb(240, 240, 240);
    border: 1px solid black;
    color: black;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    cursor: pointer;
}

.textInput:hover{
    background-color: rgb(250, 250, 250);
}