.item{
    padding: 5px 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.3);
    margin-left: 10px;
    text-align: left;
    cursor: pointer;
}

.item:hover{
    background-color: rgba(240, 240, 240);
}