.button{
    padding: 5px 10px;
    background: rgb(50, 50, 50);
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border: 1px solid rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover{
    background: rgb(80, 80, 80);
}